<h2 class="center pink-text text-lighten-3">Owner Sign Up</h2>
<br />
<% if @owner.errors.any? %>
    <% @owner.errors.full_messages.each do |message| %>
        Error: <%= message %><br>
    <% end %>
<% end %>

<%= form_with(model: @owner, url: '/signup', local: true) do |f| %>
    <div class="input-field">
        Name: <%= f.text_field :name %>
        <br /><br />
    </div>
    <div class="input-field">
    Username: <%= f.text_field :username %>
    <br /><br />
</div>
    <div class="input-field">
        Email: <%= f.email_field :email %>
        <br /><br />
    </div>
    <div class="input-field">    
        Password: <%= f.password_field :password %>
        <br /><br /><br />
    </div>   
    <%= f.submit  'Register'%>
   <% end %>
</form>


# form_with is passed url: '/signup' which tells form 
# where to make request

