<h4 class="pink-text text-lighten-3">Building Information:</h4>
<br />
<%= form_for @building do |f| %>
    Building Name: <%= f.text_field :name %><br><br>
    Edit Address: <%= f.text_field :address %><br><br>
    <br />
    Remove Building: <%= link_to("Delete Building", building_path(@building.id), method: 'delete')%>
    <br />
    <br />
    <%= f.submit %>
<% end %>

<% if flash[:message] %>
    <div class = "field_with_error"><%= flash[:message]%></div>
<% end %>
<br /><br />
<h4 class="pink-text text-lighten-3">Building Apartments</h4>
<%= link_to 'New Apartment', new_building_apartment_path(@building) %>
<%= render partial: 'apartments/apartments', collection: @building.apartments, as: :apartment %>