<h3 class="pink-text text-lighten-3">Add Building to Apartment:</h3>

    <br />
    Unit: <%= f.text_field :unit %><br><br>
    Rent: <%= f.text_field :rent %><br><br>
    Description: <%= f.text_field :description %><br><br>
    Occupants: <%= f.text_field :occupants %><br><br>
    
    <%= f.submit %>
<% end %>



